@tailwind base;
@tailwind utilities;
@tailwind components;

/* Gradient in Hex */
.vrev-text {
  background: -webkit-linear-gradient(#305c98, #f0ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
